@font-face {
    font-family: 'Open-Sans';
    src: url(./font/OpenSans-VariableFont_wdth\,wght.ttf);
}

/* Style de base */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    background: #F5F6FA;
    max-width: 40%;
    margin: 0 auto;
    font-family: 'Open-Sans';
}
.comment{
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin: 15px 0;
    color: #7C7D7F;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
}



.header-comment{
    margin: 10px;
    display: flex;
}
.picture{
    width: 50px;
    padding-right: 20px;
}
.person-name{
    padding-right: 20px;
    color: #2F3942;
    font-weight: bold;
}


/* */

.your-comment{
    display: flex;
    flex-direction: row;
}

form textarea{
    border-radius: 10px;
    border: 3px solid #595EB0;
}


/* post-button */
.post-button{
    color: white;
    background: #595EB0;
    border-radius: 10px;
    text-decoration: none;
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
}

/* reply-button */
.reply-button{
    color: #595EB0;
    font-weight: bold;
    margin-left: auto;
}
.reply-button img{
    padding-right: 10px;
}

/* rate-button */
.rate-button{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F6FA;
    border-radius: 10px;
    color: #595EB0;
    font-weight: bold;
    padding: 5px;
    margin-right: 20px;
    align-self: start;
}
.minus-button, .plus-button{
    width: 30px;
    padding: 10px 0;
}